@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
// index variables

li {
    list-style-type: none;
    text-decoration: none;
}

.line {
    height: 2px;
    width: 90%;
}

.text-decoration-none {
    text-decoration: none;
}

.active-link {
    color: rgb(165, 150, 203);
}

.cursor-pointer {
    cursor: pointer;
}

.z-index-10 {
    z-index: 10;
}

.full-height {
    min-height: 100vh;
    height: fit-content;
}

.overflow-y-auto {
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;

}

.z-index-20 {
    z-index: 20;
}

.bg-dark-semi {
    background-color: rgba(0, 0, 0, 0.5);
}

// position fixed right top
.fixed-right-top {
    position: absolute;
    right: 0;
    top: 0;
}
.bg_mymol_header {
    background-color: rgba(253, 104, 45, 1);
}

.text_mymol {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}

.text_mymol_orange {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: rgba(253, 104, 45, 1);
}

.text_mymol_dark {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgba(38, 49, 89, 1);
}

.bg_mymol {
    background-color: rgba(237, 237, 237, 1);
}
.bg_header_box_mymol {
    background-color: rgba(203, 199, 199, 1);
}

.bg_white {
    background-color:white;
}

.detail_section_shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.h-60 {
    height: 60px;
}
body{
    background-color: rgba(237, 237, 237, 1);
}